
html,body {
	height:100%;
}


.copyright {
  background-color: #f5f5f5;
  text-align: center;
  padding: 20px 0;
  color: #222;
  margin-top: -60px;
}

.dim {
	color: #ccf;
}
.strike-through {
	text-decoration: line-through;
}

#quequeTable {
  margin-top: 50px;
}