.jumbotron{
    margin-top: 40px;
}

.container-fluid {
    padding: 0px;
}


footer {
	border-top: 1px dashed #CCCCCC;
	padding: 20px 0px;
  	text-align: center;
    margin-top: 0px;


}


#map {
    height: 800px;
    min-width:300px;
    margin-top: 50px;
}

#quequeTable {
    margin-top: 60px;
}

#map img {
    max-width: none;
}
.infoWindowContent {
    font-size:  14px !important;
    border-top: 1px solid #ccc;
    padding-top: 10px;
}
h2 {
    margin-bottom:0;
    margin-top: 0;
}
