<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <title>ESL access monitoring</title>
    <link rel="stylesheet" href="assets/css/main.css">
    <!-- bower:css -->
    <link rel="stylesheet" href="assets/vendor/bootstrap/dist/css/bootstrap.css" />
    <!-- endbower -->
  </head>
  <body class="application">
    <div ng-app="project" class="container">
      <div class="navbar navbar-default" role="navigation">
        <div class="container-fluid">
          <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="./">
              <span class="glyphicon glyphicon-chevron-left"></span>
            </a>
            <div class="navbar-brand"><em>Passwords should be hidden from view</em></div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-12">
          <div ng-view></div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-12">
          <hr>
          <p class="small text-muted">Built by
            <a href="https://3m.com">3M ESL</a>
          </p>
        </div>
      </div>
      <script type="text/ng-template" id="list.html">
      <table class="table">
        <thead>
          <tr>
            <th>Cabinet id</th>
            <th>Old password</th>
            <th>New password</th>
            <th>Accessed by</th>
            <th>Opened at</th>
          </tr>
        </thead>
        <tbody>
          <tr ng-repeat="cabinet in cabinets">
            <td>{{cabinet.id}}</td>
            <td>{{cabinet.oldPassword}}</td>
            <td>{{cabinet.newPassword}}</td>
            <td >{{cabinet.name}}</td>
            <td ng-class="cabinet.warning">{{cabinet.openTime | date:'MM/dd/yyyy @ h:mma'}}</td>
            <td>
              <a href="#/edit/{{cabinet.id}}" title="edit cabinet">
                <span class="glyphicon glyphicon-flag"></span>
              </a>
            </td>
          </tr>
        </tbody>
      </table>
      </script>
      <script type="text/ng-template" id="detail.html">
      <form name="myForm" class="myform form-horizontal" role="form">
        <div class="form-group" ng-show="cabinet.id">
          <label for="id">ID:</label>
          <span id="id" name="id">{{cabinet.id}}</span>
        </div>
        <div class="form-group">
          <label for="oldPassword">Old password:</label>
          <span type="text" id="oldPassword" name="oldPassword"> {{cabinet.oldPassword}}</span>
        </div>
        <div class="form-group">
          <label for="newPassword">New password:</label>
          <span type="text" id="newPassword" name="newPassword"> {{cabinet.newPassword}}</span>
        </div>
        <div class="form-group">
          <label for="newPassword">Accessed by:</label>
          <span type="text" id="newPassword" name="newPassword"> {{cabinet.name}}</span>
        </div>
        <div class="form-group">
          <label for="timeStamp">Opened at:</label>
          <span type="text" id="timeStamp" name="timeStamp"> {{cabinet.openTime}}</span>
        </div>
        <div class="form-group">
          <label for="description">Description:</label>
          <textarea id="description" name="description"
          ng-model="cabinet.text"></textarea>
        </div>
        <button ng-click="save()" class="btn btn-danger btn-lg">
        <span class="glyphicon glyphicon-bell"></span> Alarm
        </button>
        <button ng-click="save()"class="btn btn-warning btn-lg">
        <span class="glyphicon glyphicon-camera"></span> Image
        </button>
        <button ng-click="save()" class="btn btn-primary btn-lg">
        <span class="glyphicon glyphicon-phone"></span> SMS
        </button>
        <button ng-click="save()" class="btn btn-info btn-lg">
        <span class="glyphicon glyphicon-facetime-video"></span> Video
        </button>
        <a href="#/" class="btn btn-default btn-lg"><span class="glyphicon glyphicon-remove"></span> Cancel</a>
      </form>
      </script>
    </div>
    <!-- bower:js -->
    <script src="assets/vendor/angular/angular.js"></script>
    <script src="assets/vendor/jquery/dist/jquery.min.js"></script>
    <script src="assets/vendor/bootstrap/dist/js/bootstrap.min.js"></script>
    <script src="assets/vendor/angular-route/angular-route.js"></script>
    <script src="assets/vendor/lodash/lodash.min.js"></script>
    <script type="text/javascript" src="assets/vendor/restangular/dist/restangular.js"></script>
    <script type="text/javascript" src="assets/vendor/bootbox/bootbox.js"></script>
    <!-- endbower -->
    
    <script src="assets/js/cabinets-app.js"></script>
    
  </body>
</html>